body {
  background: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculadora {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px #00c4ff;
  text-align: center;
  width: 260px;
}

input {
  width: 100%;
  height: 50px;
  font-size: 22px;
  text-align: right;
  border: none;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  background: #333;
  color: white;
}

button {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #00c4ff;
  color: #000;
  transition: 0.2s;
}

button:hover {
  background: #0099cc;
}
